#siteWrapper {
  opacity: 0;
  transition: all 400ms ease;
}

.blog-sidebar-layout-active {
  @media (min-width: 768px) {
  display: flex;
  max-width: var(--sqs-site-max-width);
  margin-right: var(--sqs-site-gutter);
  margin-left: var(--sqs-site-gutter);
  }
}

.blog-sidebar-padding-active {
  @media (min-width: 768px) {
  padding-left: 0;
  padding-right: 0;
  }
}

.blog-sidebar-padding-active {
  @media (min-width: 768px) {
  padding-left: 0 !important;
  padding-right: 0 !important;
  }
}

.blog-sidebar-post-layout-active {
  @media (min-width: 768px) {
  margin: 0;
  width: 100% !important;
  }
}

#sidebar-container {  
  padding-top: var(--sqs-site-gutter);
  padding-bottom: var(--sqs-site-gutter);
  padding-right: 0vw;
  padding-left: var(--sqs-site-gutter);
  flex-grow: 1;
  flex-shrink: 0;
  @media (max-width: 768px) {
    display: none;
  }
}

#sidebar-inner {
  height: 100%;
}

.sidebar-position-left {
  padding-left: 0 !important;
  padding-right: var(--sqs-site-gutter) !important;
}

#sidebar-container section {
  overflow: hidden;
}

#sidebar-container .content-wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#sidebar-container .content {
  margin-right: 0vw !important;
  margin-left: 0vw !important;
}

#sidebar-container .fluid-engine {
  --sqs-site-gutter: 15px !important;
  --row-height-scaling-factor: 0;
  column-gap: 0px;
}

.fluid-engine:has(#sidebar) {
  --row-height-scaling-factor: 0 !important;
}

#sidebar-inner .newsletter-form-footnote {
  position: relative;
  top: 2rem;
  margin-bottom: 2.5rem;
}

#sidebar-container, #sidebar-container * {
  box-sizing: border-box;
}